[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
schema = "*"
libhdhomerun = {git = "https://github.com/btimby/python-libhdhomerun.git"}
ffmpeg-python = "*"
python-xmltv = "*"
flake8 = "*"
pylint = "*"
requests = "*"
django = "*"
django-rest-framework = "*"
django-siteprefs = "*"
croniter = "*"
sentry-sdk = "*"
drf-ujson = "*"
m3u8 = {git = "https://github.com/btimby/m3u8.git"}
psutil = "*"
django-webpack-loader = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
ua-parser = "*"
omdb = "*"
djangorestframework-queryfields = "*"
python-daemon = "*"
